/* default browser */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 16px;
}
/* flex body in the middle of the page */
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* making the content on two rows and a responsive cube  */
main {
  width: 50%;
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
/* making a cube for the burger */
section {
  width: 7rem;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: aquamarine;
}
/* all funburger */
.fun {
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
/* controlling the size of all lines */
.fun div {
  width: 4rem;
  height: 0.5rem;
  background-color: black;
  border-radius: 2px;
  border: 0.5px black solid;
}
/* the first is not equal sign */
.hamburger1 div {
  transition: all 0.4s ease-in-out;
}
/* the third line will go on top of the others - not equal */
.hamburger1:hover > :nth-child(1) {
  transform: rotate(-45deg) translate(1, 1.1rem);
}
.hamburger1:hover > :nth-child(2) {
  transform: rotate(-45deg) translate(1, 1.1rem);
}
.hamburger1:hover > :nth-child(3) {
  transform: rotate(45deg) translate(-1.5rem, -1.5rem);
}
/* second is square */
.hamburger2 div {
  /* transition: all 0.4s ease-in-out; */
  /* swing */
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
/* hidden div */
.hamburger2 div:last-child {
  display: none;
}
/* first line is going up*/
.hamburger2:hover > :nth-child(1) {
  transform: translate(0.1rem, -0.25rem);
}
/* second line is going left 90deg */
.hamburger2:hover > :nth-child(2) {
  transform: rotate(90deg) translate(0.4rem, 2rem);
}
/* third line is going right 90deg */
.hamburger2:hover > :nth-child(3) {
  transform: rotate(90deg) translate(-0.7rem, -2rem);
}
/* fourth is shown  */
.hamburger2:hover > :nth-child(4) {
  display: block;
}
/* third flip to the top */
.hamburger3 div {
  transition: all 0.5s linear;
}
/* first line is sliding bottom right*/
.hamburger3:hover > :nth-child(1) {
  transform: skew(25deg) translate(0.4rem, 2rem);
  /* transform: rotate(25deg) translate(0.4rem, 2rem); */
}
/* second line is sliding bottom right */
.hamburger3:hover > :nth-child(2) {
  transform: skew(25deg) translate(0.4rem, 2rem);
  /* transform: rotate(90deg) translate(0.4rem, 2rem); */
}
/* third line is making a flip and goes on top*/
.hamburger3:hover > :nth-child(3) {
  /* transform: skew(25deg) translate(0.4rem, 2rem); */
  transform: rotate(180deg) translate(-1.3rem, 2rem);
}

/* spinning on spot */
.hamburger4 div {
  transition: all 0.5s cubic-bezier(0.86, 0, 0.07, 1);
}
/* first line is spinning  right*/
.hamburger4:hover > :nth-child(1) {
  transform: rotate(-1080deg) translate(-0rem, 0rem);
}
/* second line is spinning bottom left */
.hamburger4:hover > :nth-child(2) {
  transform: rotate(720deg) translate(-0rem, 0rem);
}
/* third line is spinning right*/
.hamburger4:hover > :nth-child(3) {
  transform: rotate(-720deg) translate(-0rem, 0rem);
}

/* funburger a piramide */
.hamburger5 div {
  transition: all 0.5s cubic-bezier(0.86, 0, 0.07, 1);
}
/* first line is a dott*/
.hamburger5:hover > :nth-child(1) {
  width: 1rem;
}
/* second line is shrinking */
.hamburger5:hover > :nth-child(2) {
  width: 2rem;
  transform: rotate(720deg) translate(-0rem, 0rem);
}
/* third line is shrinking */
.hamburger5:hover > :nth-child(3) {
  width: 3rem;
  transform: rotate(-720deg) translate(-0rem, 0rem);
}
